{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link rel="stylesheet" href="{% static '/bootstrap/bootstrap.css' %}" />

    <title>{% block title %} {% endblock %}</title>
  </head>
  <body>
    <div class="container">
    {% for message in messages %}
      <div class="alert alert-success" role="alert">
        {{ message }}
      </div>
    {% endfor %}

    {% for error in errors %}
      <div class="alert alert-danger" role="alert">
        {{  error  }}
      </div>
    {% endfor %}

      {% block content %} {% endblock %}
    </div>
    <script src="{% static '/bootstrap/jquery-1.10.2.min.js' %} "></script>
    <script src="{% static '/bootstrap/bootstrap.js' %}"></script>
  </body>
</html>
